APScheduler==3.2.0
Werkzeug==0.14.1
Flask==1.0.2
requests==2.20.0
lxml==4.3.3
gevent==1.4.0
Flask-RESTful==0.3.6

ipip-datx==0.4.0
pymongo==3.7.2

flask-mongoengine==0.8.2
Flask-Admin==1.5.3
Flask-Security==3.0.0
